<!doctype html>
<html ng-app="NotesApp">
<head>
  <title>Angular Starter</title>

  <!-- Viewport settings for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- All Styles should go before JS -->

  <!--Bootstrap CSS (bower install bootstrap) -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />

  <!-- Application CSS -->
  <link rel="stylesheet" href="css/style.css" />

  <!-- Angular JS (bower install angular) -->
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <!-- Angular js (bower install angular-uuid-service) https://github.com/daniellmb/angular-uuid-service -->
  <script type="text/javascript" src="../bower_components/angular-uuid-service/uuid-svc.min.js"></script>

  <!-- Main Js (Application Core) -->
  <script type="text/javascript" src="app/main.js"></script>

  <!-- Application (app) level files -->
  <script type="text/javascript" src="app/services.js"></script>
  <script type="text/javascript" src="app/notes.js"></script>

  <!-- Common Libraries -->
  <!--<script type="text/javascript" src="common/html5Storage/main.js"></script>-->

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">NotesApp</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">All Notes <span class="sr-only">(current)</span></a></li>
                <li><a href="#">New</a></li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/actonate/angular-starter">Github</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>

    <div class="row" ng-controller="NotesController">
      <div class="col-md-3 col-sm-4 note-item">
        <div class="thumbnail">
          <div class="caption">
            <div class="form-group">
              <label for="noteTitle">Title</label>
              <input type="text" ng-model="newNote.title" class="form-control" id="noteTitle" placeholder="Enter Title">
            </div>
            <div class="form-group">
              <label for="noteComment">Comment</label>
              <textarea type="text" ng-model="newNote.comment" class="form-control" id="noteComment" placeholder="Write your Comment"></textarea>
            </div>
            <button type="submit" ng-disabled="isValid()" ng-click="addNote()" class="btn btn-default">Add Note</button>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 note-item" ng-repeat="(key, value) in notes">
        <div class="thumbnail">
          <div class="caption">
            <h3 ng-bind="value.title"></h3>
            <p ng-bind="value.comment"></p>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
